.button {
  display: flex;
  appearance: none;
  cursor: pointer;
  border-radius: 24px;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-xl);
  font-family: "Fira Code";
  border: 2px solid transparent;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  column-gap: 0.5rem;
}

.button:hover,
.button:focus-visible {
  border-color: white;
}
