.button {
  display: flex;
  appearance: none;
  cursor: pointer;
  border-radius: 24px;
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-xl);
  font-family: system-ui, sans-serif;
  border: 2px solid transparent;
  color: var(--color-base-l100);
  background-color: var(--color-base-l10);
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  column-gap: 0.5rem;
}

.button:hover,
.button:focus-visible {
  border-color: var(--color-base-l100);
}
