.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
  height: -webkit-fill-available;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.todoListWrapper {
  flex: 1;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--spacing-md);
}
