.input {
  display: block;
  width: 100%;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  font-family: "Fira Code";
  color: white;
  background: transparent;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid transparent;
  border-bottom: 1px solid grey;

  &:focus-visible {
    border: 2px solid white;
  }

  &::placeholder {
    color: grey;
  }
}
