.input {
  display: block;
  width: 100%;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  font-family: system-ui, sans-serif;
  color: var(--color-base-100);
  background: transparent;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--color-base-60);

  &:focus-visible {
    border: 2px solid var(--color-base-100);
  }

  &::placeholder {
    color: var(--color-base-60);
  }
}
