.container {
  padding: var(--spacing-md);
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: var(--color-base-l0);
  opacity: 0.7;
}

.dialog {
  pointer-events: auto;
  position: relative; /* Override dialog default */
  z-index: 11;
  background-color: var(--color-base);
  width: 100%;
  border: 0; /* dialog reset */
  outline: 0;
  color: var(--color-base-l100);
}
