.container {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  height: -webkit-fill-available;
}

.table {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto auto;
  column-gap: var(--spacing-sm);

  thead,
  tbody,
  tr {
    display: contents;
  }

  tr {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    align-items: center;
    padding: var(--spacing-xs);

    &:focus,
    &:hover {
      background-color: var(--color-base-l30);
    }
  }

  th {
    text-align: left;
  }
}
