.wrapper {
  display: flex;
}

.button {
  background: none;
  border: none;
  appearance: none;
  text-align: left;
  cursor: pointer;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  border-radius: 2px;
  font-size: 16px;
  width: 100%;

  &:focus,
  &:hover {
    background-color: var(--color-base-l30);
  }

  &:focus {
    outline: 2px solid var(--color-base-l100);
  }
}

.title {
  color: var(--color-base-l100);

  &.completed {
    text-decoration: line-through;
    color: var(--color-base-l60);
  }
}

.externalLink {
  font-style: italic;
  text-decoration: underline;
}
