.wrapper {
  display: flex;
}

.button {
  background: none;
  border: none;
  appearance: none;
  text-align: left;
  cursor: pointer;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
}

.button:focus,
:global(body:not(:has(:focus-visible))) .button:hover {
  background-color: var(--color-base-l0);
}

.title {
  color: var(--color-base-l100);
}

.title.completed {
  text-decoration: line-through;
  color: var(--color-base-l60);
}

.externalLink {
  font-weight: 600;
  font-style: italic;
}

:global(body:not(:has(:focus-visible))) .externalLink:hover {
  text-decoration: underline;
}
