@import "./reset.css";
@import "./colors.css";
@import "./spacing.css";
@import "./fonts.css";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Fira Code";
  background-color: var(--color-background);
  color: white;
  padding: 0;
  margin: 0;
  overflow: clip;
}

body {
  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-md);
  margin: 0;
}

:focus {
  outline: none;
}

html,
body,
#root {
  height: -webkit-fill-available;
}
