@import "./fonts.css";

:root {
  --color-background: rgb(38, 50, 56);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Fira Code";
  background-color: var(--color-background);
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 16px 8px;
  margin: 0;
}

:focus {
  outline: none;
}
